* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

body *{
  font-family: "Montserrat", sans-serif;
}

.dark-light {
  position: fixed;
  z-index: 1;
  top: 150px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.dark-light img {
  width: 50px;
  height: 50px;
}

.dark * {
  color: #fff !important;
  background: rgb(41, 46, 58);
  .nav-list {
    a {
      &:hover {
        color: var(--color-primary, #ef7c00) !important;
      }
    }
  }
  #home, .contact-card, .name-input{
  background: rgb(41, 46, 58) !important;

  }
}
